.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn-primary{
    background-color: #007bff;
    color: #fff;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.btn-secondary:hover {
    background-color: rgb(185, 185, 27);
}
.btn-secondary{
    background-color: yellow;
    color: #000;
}
/*_________________________*/

.accordian-item{
    margin-bottom: 10px;
}

.accordian-header{
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.accordian-header:hover + .accordian-content{
    display: block;
}

.accordian-content{
    display: none;
}

/*   loaders  */

.loader-1{
    border: 5px solid #f3f3f3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 5px solid #1a6ec7;
}
















